@{
    Layout = "_MasterLayout.cshtml";
}

<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>News - Fayafayta Website Template</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="page page-news">
        <div class="header">
            <div>
                <a href="index.html" id="logo"><img src="images/logo.png" alt="log"></a> <span>The Firefighter is a man who fights fire, when ready.</span>
                <ul>
                    <li>
                        <a href="index.html">Home</a> <span>This is just a placeholder</span>
                    </li>
                    <li>
                        <a href="about.html">About</a> <span>This is just a placeholder</span>
                    </li>
                    <li class="selected">
                        <a href="news.html">News</a> <span>This is just a placeholder</span>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a> <span>This is just a placeholder</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="body">
            <div class="news">
                <div>
                    <h4>Latest News</h4>
                    <ul>
                        <li>
                            <a href="#">&#60;&#60;</a>
                        </li>
                        <li>
                            <a href="#" class="first">First</a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">6</a>
                        </li>
                        <li>
                            <a href="#">7</a>
                        </li>
                        <li>
                            <a href="#">8</a>
                        </li>
                        <li>
                            <a href="#">9</a>
                        </li>
                        <li>
                            <a href="#">10</a>
                        </li>
                        <li>
                            <a href="#">11</a>
                        </li>
                        <li>
                            <a href="#">12</a>
                        </li>
                        <li>
                            <a href="#">13</a>
                        </li>
                        <li>
                            <a href="#">14</a>
                        </li>
                        <li>
                            <a href="#" class="last">Last</a>
                        </li>
                        <li>
                            <a href="#">&#62;&#62;</a>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li>
                        <a href="#"><img src="images/icon-logo2.jpg" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget nibh lacus. In egestas semper facilisis. Suspendisse placerat venenatis leo, at ornare sem vestibulum a.
                            </p>
                            <a href="#">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="images/icon-logo2.jpg" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget nibh lacus. In egestas semper facilisis. Suspendisse placerat venenatis leo, at ornare sem vestibulum a.
                            </p>
                            <a href="#">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="images/icon-logo2.jpg" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget nibh lacus. In egestas semper facilisis. Suspendisse placerat venenatis leo, at ornare sem vestibulum a.
                            </p>
                            <a href="#">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="images/icon-logo2.jpg" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget nibh lacus. In egestas semper facilisis. Suspendisse placerat venenatis leo, at ornare sem vestibulum a.
                            </p>
                            <a href="#">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="images/icon-logo2.jpg" alt=""></a>
                        <div>
                            <h3>News Title One Example Title</h3>
                            <span>Posted on 12/12/12</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget nibh lacus. In egestas semper facilisis. Suspendisse placerat venenatis leo, at ornare sem vestibulum a.
                            </p>
                            <a href="#">Read more&#62;&#62;</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sidebar">
                <h4>Featured</h4>
                <ul>
                    <li>
                        <a href="news.html"><img src="images/fireman4.jpg" alt=""></a>
                        <div>
                            <h3>Featured Title One</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                    <li>
                        <a href="news.html"><img src="images/fireman5.jpg" alt=""></a>
                        <div>
                            <h3>Featured Title One</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus fermentum elit. Suspendisse potenti. Cras eget
                            </p>
                            <a href="news.html">Read more&#62;&#62;</a>
                        </div>
                    </li>
                </ul>
                <h4>Sign-up For Updates</h4>
                <form action="index.html">
                    <input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter e-mail address':this.value;" value="Enter e-mail address" id="email">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="section">
                <div>
                    <h4>Gallery</h4>
                    <ul>
                        <li>
                            <a href="gallery.html"><img src="images/fireman1.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="gallery.html"><img src="images/fireman2.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="gallery.html"><img src="images/fireman3.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="connect">
                    <h4>Social</h4>
                    <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="fb">fb</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a> <a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">vimeo</a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
                <p>
                    &#169; Copyright &#169; 2032.Company name all rights reserved
                </p>
            </div>
        </div>
    </div>
</body>
</html>
