body{
    background-color: rgba(255,216,217,255);
}

.header{
    margin-left: 50%
}

.header :first-child{
    text-decoration: underline;
}

.content h2{
    margin-top: 50px;
    font-weight: 400;
    text-decoration: underline;
}

.content ul{
    margin-bottom: 50px;
}

.format ol .bold{
   font-weight: bold;
}

.format ol .underline{
   text-decoration: underline;
}

.format ol .italic{
   font-style: italic;
}

.format ol .fonts{
  font-size: 1.2rem;
}

.format ol .size{
  font-size: 0.8rem;
}

.format ol .size span{
  font-size: 1.1rem;
  font-weight: bold;
}

.format ol .color{
  color: red;
}

.welcome-pic{
    width: 50%;
    height: 70px;
    margin-left: 30%;
    margin-bottom: 100px;
}

.footer{
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer :first-child{
    display: block;
}

.footer :last-child{
    position: absolute;
    left: 100%;
}
